#MooDetailsModal .modal-content {
  background: #13212f;
}

#MooDetailsModal .modal-content .modal-title {
  font-size: 2.4rem;
}

#MooDetailsModal .modal-content .btn-close {
  background: transparent;
}

#MooDetailsModal .modal-content .modal-header {
  border-bottom: 2px solid #021521;
  padding: 1.6rem;
}

@media (min-width: 992px) {
  #MooDetailsModal .modal-content .modal-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

#MooDetailsModal .modal-content .modal-body .current_items {
  min-width: 18rem;
}

#MooDetailsModal .modal-content .modal-body .item_details {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 1rem;
}

#MooDetailsModal .modal-content .modal-body .item_details .details_head .coin-box {
  background-color: #021521;
  border-radius: 10px;
  padding: 0.5em 1em;
  display: inline-block;
}

#MooDetailsModal .modal-content .modal-body .item_details .details_head .evolution_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#MooDetailsModal .modal-content .modal-body .item_details .details_head .evolution_wrapper > * {
  width: 2.875em;
  height: 2.875em;
  overflow: hidden;
  border-style: solid;
  border-width: 3px;
  border-radius: 12px;
  position: relative;
}

#MooDetailsModal .modal-content .modal-body .item_details .details_head .evolution_wrapper .element-earth {
  background: -webkit-gradient(linear, left top, left bottom, from(#3d2f29), to(#855f36));
  background: linear-gradient(180deg, #3d2f29, #855f36);
  border-color: #60402f;
}

#MooDetailsModal .modal-content .modal-body .item_details .details_head .evolution_wrapper .element-earth .icon-lock {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  left: 0px;
  top: 0px;
}

#MooDetailsModal .modal-content .modal-body .item_details .details_head .evolution_wrapper .element-earth .icon-lock img {
  width: 100%;
  height: 100%;
}

#MooDetailsModal .modal-content .modal-body .item_details .details_body .details_body_list .list_wrapper {
  border-radius: 10px;
  border: 2px solid #184867;
  background-color: #021521;
  font-size: 0.75em;
  margin-bottom: 1em;
}

#MooDetailsModal .modal-content .modal-body .item_details .details_body .details_body_list .list_wrapper .nesting_title {
  font-size: 0.75em;
}

#MooDetailsModal .modal-content .modal-body .item_details .details_body .details_body_list .list_wrapper .food_list li {
  width: 4em;
  height: 4em;
  border: 4px solid #1a3650;
  position: relative;
  overflow: hidden;
  border-radius: 6px;
  background: radial-gradient(#3f5b7c, #16212e 75%);
}

#MooDetailsModal .modal-content .modal-body .item_details .details_body .details_body_list .list_wrapper .food_list li img {
  width: 100%;
  height: 100%;
}

#MooDetailsModal .modal-content .modal-body .item_details .details_body .details_body_list .list_wrapper .food_list li .list_count {
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 8px;
}
/*# sourceMappingURL=MooDetailsModal.css.map */