#MarketplaceBox {
  .box_content {
    background: url("../../Static/img/bg-marketplace-info.58496b5.png")
      center/100% 100% no-repeat;
    .box_content_body {
      & > .box {
        background: #021521;
        margin: 4px 2px;
        border-radius: 16px;
        padding: 1em 1.25em;
      }
      .box_title {
        font-size: 1.125em;
      }
      .box_subtitle {
        font-size: 2.25em;
        min-width: 20rem;
        display: block;
      }
    }
  }

  @mixin toggle_label() {
    .toggle_label {
      font-size: 0.8125em;
      color: #5b89a7;
      cursor: pointer;
      position: relative;
      margin-left: 2rem;
      user-select: none;
      &::before {
        position: absolute;
        top: 0.25em;
        left: -1.5em;
        display: block;
        width: 1em;
        height: 1em;
        content: "";
        pointer-events: none;
        background-color: #fff;
        border: 1px solid #adb5bd;
        border-radius: 3px;
      }
    }
    input[type="checkbox"]:checked ~ .toggle_label {
      color: #eedb7a;
      &::before {
        position: absolute;
        top: 0.25em;
        left: -1.5em;
        display: block;
        width: 1em;
        height: 1em;
        content: "";
        border-color: #eedb7a !important;
        background-color: #eedb7a;
        border-radius: 3px;
      }
      &::after {
        position: absolute;
        top: 0.25em;
        left: -1.45em;
        display: block;
        width: 1em;
        height: 1em;
        content: "";
        background: url("../../Static/img/checkbox_bg.png") center/8px 8px
          no-repeat;
      }
      &.active_label {
        color: #eedb7a !important;
      }
    }
  }
  #MarketplaceItems {
    .items_wrapper {
      background: #13212f;
      padding: 1.875em 2em 2.5em;
      border-radius: 16px;

      .items_head {
        .items_title {
          font-size: 1.25em;
          font-weight: 700;
        }

        .items_filter {
          .filter_group {
            .select_filter {
              background: #021521;
              min-width: 10rem;
              text-align: center;
              padding: 0.375em 0.75em;
              color: #93a3af;
              border: 2px solid #184867;
              cursor: pointer;
              border-radius: 10px;
              &:focus {
                border-color: #3090ce;
                outline: 0;
                box-shadow: 0 0 0 0.2rem rgba(24, 72, 103, 0.25);
              }
            }
          }
        }
      }
      .items_body {
      }
    }
    #MarketPlaceFilter {
      background: #13212f;
      padding: 1.875em 2em 2.5em;
      border-radius: 16px;
      min-width: 320px;

      .clear_btn {
        padding: 0px 10px;
        font-size: 12px;
        border-radius: 50px;
        color: #e86161;
        border: 1px solid #e86161;
        background: transparent;
        transition: 0.5s;
        outline: none;
        &:hover,
        &:active {
          background: #e86161;
          color: white;
          box-shadow: 0 0 0 0.2rem rgba(232, 97, 97, 0.5);
        }
      }
      .filter_head {
        @include toggle_label();
        .form-group {
          * {
            font-family: hubby_bunny;
          }
        }
      }
    }
  }

  .pagination {
    .page-link {
      font-size: 1.8rem;
      border-radius: 0.6rem;
      width: 3.5rem;
      height: 3.5rem;
      font-weight: 700;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      &:not(.paginate_control) {
        background: #021521 !important;
        color: #5b89a7 !important;
        border: 2px solid #184867;
        font-size: 1.4rem;
      }
      &.prev_disable,
      &.next_disable {
        color: #184867 !important;
        pointer-events: none;
        user-select: none;
        background: transparent;
      }
      &.active_link {
        color: #eedb7a !important;
        border-color: #eedb7a !important;
        background: #184867 !important;
      }
      &.paginate_control {
        background: transparent !important;
      }
    }
  }
}
